<div class="track-header">
  <div class="track-hero">
    <%= image_tag @track.track_image.url %>
    <h2><%= @track.name %></h2>
    <div class="large-player">
      <%= audio_tag @track.track, controls: true, :class => "track-info" %>
    </div>
  </div>
</div>

<div class="track-show-wrapper">
  <div class="row">
    <div class="large-4 column user-profile-pic">
      <%= link_to (image_tag @track.user.profile_picture.url), user_path(@track.user), :class => "user-pic-track-show" %>
      <p><%= link_to @track.user.username, user_path(@track.user) %></p>
      <p class="body-copy">Member since: <%= @track.user.created_at.strftime('%d %B %Y') %></br>Last active: <%= @track.user.last_sign_in_at.strftime('%I:%M %p, %d %B %Y') %></p>
    </div>
    
    <div class="large-8 column">
        <h3 class="comments-header">Comments (<%= @track.comments.count %>):</h3>
        <div class="row comment-field">
          <% if user_signed_in? %>
            <div class="large-2 column">
            <%= image_tag @user.profile_picture.url %>
            </div>
          <% else %>
            <div class="large-2 column">
              <div class="placeholder-image"></div>
            </div>
          <% end %>
          <div class="large-10 column comment-field-margin">
            <%= form_for @comment do |f| %>
              <%= f.hidden_field :track_id, value: @track.id %>
              <%= f.text_area :content, placeholder: 'Write a comment...' %>
              <div class="actions button-align">
                <%= f.submit 'Submit Comment', :class => "button radius" %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="comments-all">
          <% @comments.each do |comment| %>
            <div class="comment-item">
              <div class="row">
                <div class="large-2 column">
                  <%= image_tag comment.user.profile_picture %>
                </div>
                <div class="large-10 column comment">
                  <p><%= link_to comment.user.username, user_path(comment.user) %> says (<%= comment.created_at.strftime('%I:%M %p, %d %B %Y') %>):</p>
                  <p class="comment-content"><%= comment.content %></p>
                  <% if can? :destroy, comment %>
                    <p><%= link_to 'Delete', comment_path(comment), method: :delete %></p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>