.cover-image
  = image_tag @user.profile_picture.url, :class => "profile-picture"

.user-profile-wrapper
  .row
    .large-4.column.user-info
      %h3= @user.username
      .following-stats
        .following
          %p
            %strong= @user.following.count
          %p following
        .followers
          %p
            %strong= @user.followers.count
          %p followers
      - if user_signed_in?
        - unless current_user == @user
          #follow_form
            - if current_user.following?(@user)
              = form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f|
                = f.submit "Unfollow", :class => 'button radius'
            - else
              = form_for(current_user.active_relationships.build) do |f|
                %div= hidden_field_tag :followed_id, @user.id
                = f.submit "Follow", :class => 'btn button radius'
      %p= mail_to @user.email
      %p= @user.about
      - if user_signed_in? && current_user.id == @user.id
        = link_to 'Edit my profile', edit_user_registration_path(@user)
    .large-8.column
      %h3 Tracks
      %ul.track-list
        - @user.tracks.order('created_at DESC').each do |track|
          .track-single
            .row
              %li.large-3.column
                = link_to (image_tag track.track_image.url), track_path(track)
              %li.large-9.column.user-track-name
                = link_to track.name, track_path(track)
              %li.large-9.column
                = track.created_at.strftime('%d %B %Y')
              %li.large-9.column
                = audio_tag track.track, controls: true, :preload => 'metadata'
              - if can? :destroy && :update, track
                %li.large-9.column
                  = link_to 'Delete', track_path(track), method: :delete
                  |
                  = link_to 'Edit', edit_track_path(track)
                  |
                  = link_to "Comments (#{track.comments.count})", track_path(track)
              - else
                %li.large-9.column
                  = link_to "Comments (#{track.comments.count})", track_path(track)

      
      