<h2><%= @user.username %></h2>

<ul>
  <li><%= image_tag @user.profile_picture.url, width: '180' %></li>
  <li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
  <li>About: <%= @user.about %></li>
  <li>Email: <%= @user.email %></li>
  <li>Joined: <%= @user.created_at.strftime('%d %B %Y') %></li>
  <li>Last active: <%= @user.last_sign_in_at.strftime('%I:%M %p, %d %B %Y') %></li>
</ul>

<% if user_signed_in? && current_user.id == @user.id %>
  <p><%= link_to 'Edit My Profile', edit_user_registration_path(@user) %></p>
<% end %>

<div class="user-tracks">
  <h2>Tracks</h2>
  <% @user.tracks.order('created_at DESC').each do |track| %>
    <div class="track">
      <p><%= link_to track.name, track_path(track) %></p>
      <p>Uploaded on: <%= track.created_at.strftime('%d %B %Y') %></p>
      <p><%= image_tag track.track_image.url %></p>
      <%= audio_tag track.track, controls: true %>
      <% if can? :destroy && :update, track %>
        <p><%= link_to 'Delete', track_path(track), method: :delete %></p>
        <p><%= link_to 'Edit', edit_track_path(track) %></p>
      <% end %>
      <p><%= link_to "Comments (#{track.comments.count})", track_path(track) %></p>
    </div>
  <% end %>
</div>