<div class="hero-image">
  <p class="welcome-message">Welcome to SoundSplash, an emerging community of music lovers and makers.</p>
</div>

<div class="index-wrapper">
  <div class="row">
    <div class="large-7 column">
      <h2>All Tracks</h2>
      <% @tracks.each do |track| %>
        <p><%= link_to track.user.username, user_path(track.user) %></p>
        <h4><%= link_to track.name, track_path(track) %></h4>
        <p>Uploaded on: <%= track.created_at.strftime('%d %B %Y') %></p>
        <%= image_tag track.track_image.url, :class => 'track-image' %>
        <%= audio_tag track.track, controls: true %>
        <p><%= link_to "Comments (#{track.comments.count})", track_path(track) %></p>
      <% end %>
    </div>
  

    <div class="large-5 column">
      <h2>Users</h2>
      <% @users.each do |user| %>
        <%= image_tag user.profile_picture.url, :class => 'user-image' %>
        <h4><%= link_to user.username, user_path(user) %></h4>
        <p>Member since: <%= user.created_at.strftime('%d %B %Y') %></p>
        <p>Last active: <%= user.last_sign_in_at.strftime('%I:%M %p, %d %B %Y') %></p>
        <p>Number of uploads: <%= user.tracks.count %></p>
      <% end %>
    </div>
  </div>
</div>