<div class="hero-image">
  <p class="welcome-message">Welcome to SoundSplash, an emerging community of music lovers and makers.</p>
</div>

<div class="index-wrapper">
  <div class="row">
    <div class="large-8 column">
      <h3>All Tracks</h3>
      <ul class="track-list">
        <% @tracks.each do |track| %>
          <div class="track-single">
            <div class="row">
              <li class="large-3 column"><%= link_to (image_tag track.track_image.url), track_path(track) %></li>
              <li class="large-9 column track-user"><%= link_to track.user.username, user_path(track.user) %></li>
              <li class="large-9 column track-name"><%= link_to track.name, track_path(track) %></li>
              <li class="large-9 column"><%= audio_tag track.track, controls: true %></li>
              <li class="large-9 column"><%= track.created_at.strftime('%d %B %Y') %>  |  <%= link_to "Comments (#{track.comments.count})", track_path(track) %></li>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  
    <div class="large-4 column">
      <h3>Users</h3>
      <ul class="user-list">
        <% @users.each do |user| %>
          <div class="user-single">
            <div class="row">
              <li class="large-3 column user-pic"><%= link_to (image_tag user.profile_picture.url), user_path(user) %></li>
              <li class="large-9 column"><%= link_to user.username, user_path(user) %></li>
              <li class="large-9 column">Member since: <%= user.created_at.strftime('%d %B %Y') %></li>
              <li class="large-9 column">Last active: <%= user.last_sign_in_at.strftime('%I:%M %p, %d %B %Y') %></li>
              <li class="large-9 column">Number of uploads: <%= user.tracks.count %></li>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>