<!-- <p class="notice"><%#= notice %></p>
<p class="alert"><%#= alert %></p> -->
<header class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'SoundSplash', root_path %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <% if user_signed_in? %>
            <a href="#">Logged in as <%= current_user.username %></a>
            <ul class="dropdown">
              <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
              <li class="active"><%= link_to 'My Profile', user_path(current_user) %></li>
            </ul>
          <% end %>
        </li>
        <li class="active"><%= link_to 'Upload Track', new_track_path %></li>
      </ul>
    </section>
  </nav>






<!--   <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%#= link_to 'SoundSplash', root_path %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
    <ul class="right">
      <li></li>
      <li class="active">
        <%#= link_to 'Upload Track', new_track_path %>
      </li>
    </ul> -->


    
    


</header>